@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Enter new doctor</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Add Specialty")
  @Html.DropDownList("SpecialtyId", "Select Specialty")

  @Html.Label("Add Patient")
  @Html.DropDownList("PatientId", "Select Patient")

  <input type="submit" value="Save" />
}